@import (reference) '../../less/variables.less';

.pdf-list {
    display: flex;
    flex-wrap: wrap;
    margin: -12px;
    padding-top: 20px;

    @media (min-width: @tablet) {
        justify-content: unset;
        margin: -24px;
        padding-top: 60px;
    }

    &__item {
        padding: 12px;
        flex: 0 0 350px;
    }
}

.pdf-item {
    display: flex;
    grid-gap: 0 16px;
    align-items: flex-start;

    &__img {
        max-width: 60px;
        width: 100%;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        --aspect-ratio: 60/60;

        &:before {
            content: '';
            display: block;
            padding-bottom: calc(100% / (var(--aspect-ratio)));
        }
    }

    &__caption {
        font-size: 14px;

        &:not(:last-child) {
            margin-bottom: 8px;
        }

        &:last-child {
            font-size: 12px;
        }
    }
}