@import (reference) '../../less/variables.less';

.select-category {
  margin: -2px;

  @media screen and (min-width: @desktop-small) {
    display: flex;
    flex-wrap: wrap;
    margin: -8px;
  }

  &__item {
    padding: 2px;

    @media screen and (min-width: @desktop-small) {
      flex: 0 0 calc(100% / 5);
      max-width: calc(100% / 5);
      padding: 8px;
    }
  }
}

.catalog-category {
  min-height: 60px;
  display: flex;
  align-items: center;
  border: solid 1px #ccc;
  background-color: #fff;
  padding: 0 8px;
  cursor: pointer;
  transition: @transition;

  @media screen and (min-width: @desktop-small) {
    padding: 8px;
  }

  &:hover {
    border: solid 1px @color-brand;
    color: @color-brand;
  }

  &.is-active {
    border: solid 1px @color-brand;
  }

  &__img {
    flex: 0 0 64px;

    & svg {
      display: block;
      width: 64px;
      height: 64px;
    }
  }

  &__title {
    padding-left: 16px;
    font-size: 15px;
  }

  &.is-active &__title {
    // color: #9b9b9b;
    color: @color-brand;
  }
}

.filter {
  margin: 32px 0;
  padding: 16px;
  border: solid 1px #ccc;
  background-color: #ffffff;

  @media screen and (min-width: @desktop-small) {
    position: relative;
    display: flex;
    align-items: center;
    padding: 16px 24px;
  }

  &__title {
    font-size: 13px;
    color: #9b9b9b;
    margin-bottom: 18px;
    text-align: center;

    @media screen and (min-width: @desktop-small) {
      margin-bottom: unset;
      margin-right: 60px;
      font-size: 16px;
      font-weight: 700;
      color: @color-text;
    }
  }

  &__option-toggle {
    display: flex;
    justify-content: center;

    @media screen and (min-width: @desktop-small) {
      margin-right: 35px;
      position: relative;

      &:before {
        content: '';
        position: absolute;
        top: 38px;
        left: 50%;
        width: 12px;
        height: 12px;
        border-left: 1px solid #ccc;
        border-top: 1px solid #ccc;
        background-color: #fff;
        transform: translateX(-50%) rotate(45deg);
        z-index: 4;
        display: none;
      }
    }
  }

  &__option-toggle.is-open:before {
    display: block;
  }

  &__option-content {
    max-width: 380px;
    margin: 0 auto;
    display: none;

    @media screen and (min-width: @desktop-small) {
      max-width: unset;
      margin: unset;
      position: absolute;
      top: 100%;
      left: -1px;
      z-index: 3;
      width: calc(100% + 2px);
      border: 1px solid #ccc;
      background-color: #fff;
      padding: 24px;
    }
  }

  &__option-toggle.is-open + &__option-content {
    display: block;
  }

  &__select {
    display: flex;
    align-items: center;
    padding: 6px 10px;
    cursor: pointer;

    & span {
      font-size: 15px;
      padding-right: 8px;
      transition: @transition;
    }

    &:hover span {
      color: @color-brand;
    }

    & svg {
      width: 12px;
      height: 12px;
      transition: @transition;
    }

    &:hover svg {
      fill: @color-brand;
    }
  }

  &__option-toggle.is-open &__select svg {
    transform: rotate(-180deg);
  }
}

.range-list {

  @media screen and (min-width: @desktop-small) {
    display: flex;
  }

  &__item {

    @media screen and (min-width: @desktop-small) {
      flex: 0 0 25%;
      width: 25%;
      margin-right: 6%;
    }
  }

  &__item-title {
    font-size: 12px;
    margin-bottom: 5px;
    white-space: nowrap;
  }
}