@import (reference) './variables.less';

@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat-Regular'), local('MontserratRegular'),
      url('../assets/fonts/Montserrat-Regular.woff2') format('woff2'),
      url('../assets/fonts/Montserrat-Regular.woff') format('woff'),
      url('../assets/fonts/Montserrat-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat-Medium'), local('MontserratMedium'),
      url('../assets/fonts/Montserrat-Medium.woff2') format('woff2'),
      url('../assets/fonts/Montserrat-Medium.woff') format('woff'),
      url('../assets/fonts/Montserrat-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat-SemiBold'), local('MontserratSemiBold'),
      url('../assets/fonts/Montserrat-SemiBold.woff2') format('woff2'),
      url('../assets/fonts/Montserrat-SemiBold.woff') format('woff'),
      url('../assets/fonts/Montserrat-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat-Bold'), local('MontserratBold'),
      url('../assets/fonts/Montserrat-Bold.woff2') format('woff2'),
      url('../assets/fonts/Montserrat-Bold.woff') format('woff'),
      url('../assets/fonts/Montserrat-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

* {
  box-sizing: border-box;
  outline: none;
}

html {
  color: @color-text;
  font: 62.5% HelveticaNeueCyr, Arial, sans-serif;
  overflow-x: hidden;

  &.is-unscrolled {
    overflow: hidden;
    height: auto;
  }
}

.body {
  font-size: 13px;
  cursor: default;
  min-width: 320px;
  overflow-x: hidden;

  &.is-unscrolled {
    overflow: hidden;
    height: auto;
  }

  @media (min-width: @desktop-small) {
    font-size: 15px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
button {
  margin: 0;
  padding: 0;
  font-weight: 400;
}

a {
  text-decoration: none;

  color: inherit;
}

textarea {
  resize: none;
  width: 100%;
  display: block;
  padding: 0;
}

// glightbox custom
.gslide-description {
  display: none;
}

.goverlay {
  background-color: rgba(37, 38, 36, 0.8);
}

.glightbox-clean .ginner-container {
  box-shadow: unset;
}

.gslide-image img {
  max-width: 976px;
  max-height: 625px;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

// swiper custom
.swiper-pagination-bullet:only-child {
  visibility: hidden;
  pointer-events: none;
}
