@import (reference) '../../less/variables.less';

.product-card {
  position: relative;
  padding: 24px;
  background-color: #fff;
  transition: @transition;
  border: 1px solid @color-gray-m;

  @media screen and (min-width: @desktop-small) {
    padding: 16px;
  }

  &:hover {
    box-shadow: 0 8px 30px 2px rgba(93, 49, 61, 0.16);
  }

  &__favorite {
    top: 32px;
    right: 32px;
    cursor: pointer;
    position: absolute;
    z-index: 2;

    & svg {
      display: block;
      width: 24px;
      height: 24px;
      fill: #fff;
      stroke: #A0A0A0;
      transition: @transition;
    }

    &:hover svg {
      stroke: @color-brand;
    }

    &.is-active svg {
      fill: @color-brand;
      stroke: @color-brand;
    }
  }

  &__gallery {
    margin: 0 0 16px;
    position: relative;

    @media (min-width: @desktop) {
      margin: 0 -20px 16px;
    }
  }

  &__img {
    height: 155px;
    display: block;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;

    @media screen and (min-width: @desktop) {
      height: 200px;
    }

    & img {
      object-fit: contain;
      width: 100%;
      height: 100%;
    }
  }

  &__img-bg {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    --aspect-ratio: 16/9;

    &:before {
      content: '';
      display: block;
      padding-bottom: calc(100% / (var(--aspect-ratio)));
    }
  }

  & .swiper-container {

    @media (min-width: @desktop) {
      padding: 0 25px;
    }
  }

  & .swiper-button-prev,
  & .swiper-button-next {
    display: none;
    width: 30px;
    background-color: #fff;
    height: 100%;
    transform: none;
    top: 0;
    margin-top: unset;

    @media (min-width: @desktop) {
      display: flex;
    }

    & svg {
      width: 24px;
      height: 24px;
      transition: @transition;
    }

    &:hover svg {
      fill: @color-brand;
    }

    &:after {
      display: none;
    }
  }

  & .swiper-button-prev {
    left: -5px;
  }

  & .swiper-button-next {
    right: -5px;
  }

  & .swiper-pagination {
    display: flex;
    margin-top: 8px;
    justify-content: center;
    position: unset;
  }

  & .swiper-pagination .swiper-pagination-bullet {
    width: 4px;
    height: 4px;
    margin: 0;
    opacity: 1 !important;
    background-color: #e0e0e0;
  }

  .swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {

  }

  & .swiper-pagination .swiper-pagination-bullet:not(:last-child) {
    margin-right: 12px;
  }

  & .swiper-pagination .swiper-pagination-bullet-active {
    background-color: @color-brand;
  }

  &__text {
    position: relative;
  }

  &__novelty {
    position: absolute;
    left: 32px;
    top: 32px;
    padding: 3px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: @color-brand;
    color: #fff;
    font-size: 14px;
    z-index: 1;
    text-transform: uppercase;
  }

  &__title {
    display: block;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    position: relative;
    margin-bottom: 8px;

    @media screen and (min-width: @desktop) {
      font-size: 20px;
      margin-bottom: 16px;
    }
  }

  &__category {
    display: block;
    margin-bottom: 8px;
    color: @color-gray;
    font-size: 13px;

    @media screen and (min-width: @tablet) {
      margin-top: 4px;
      margin-bottom: 16px;
    }
  }

  &__price {
    color: @color-brand;
    font-size: 17px;

    @media screen and (min-width: @desktop-small) {
      font-size: 25px;
    }
  }

  &__icons {
    position: absolute;
    bottom: 0;
    right: 32px;
    display: flex;
    z-index: 50;
  }

  &__icon {
    border: 1px solid #cfcfcf;
    border-radius: 100%;
    width: 40px;
    height: 40px;
    margin-right: 16px;
    padding: 6px;
    cursor: pointer;
    background: #ffffff no-repeat center / contain;
    background-origin: content-box;

    svg {
      width: 100%;
      height: 100%;
    }

    &:last-of-type {
      margin-right: 0;
    }
  }

  &__description {
    font-size: 12px;
    line-height: 140%;
    display: block;

    @media screen and (min-width: @desktop-small) {
      display: none;
    }
  }

  &__table {
    display: none;
    margin-bottom: 16px;
    width: 100%;
    border-collapse: collapse;
    
    @media screen and (min-width: @desktop-small) {
      display: table;
    }
  }
  
  &__row {
    display: table-row;
    width: 100%;
    height: auto;
  }

  &__cell {
    position: relative;
    display: table-cell;
    padding: 4px 8px;
    border: 1px solid @color-gray-m;
    width: 50%;
  }

  &__props {
    display: none;
    &:not(:last-child) {
      margin-bottom: 16px;
    }
    @media screen and (min-width: @desktop-small) {
      display: flex;
      flex-direction: column;
      grid-gap: 4px 0;
    }
  }

  &__props-title {
    font-weight: 600;
    font-size: 16px;
  }

  &__props-desc {
    font-weight: 600;
    font-size: 10px;
    line-height: 130%;
  }

  &__table-icon {
    width: 50px;
    height: 50px;
    display: inline-block;
  }

  &__table-props {
    position: absolute;
    top: 30px;
    left: 60px;
    display: flex;
    flex-direction: column;
    grid-gap: 4px 0;
  }

  &_inner {
    padding: 30px 0 0;
    border: 0;
    &:hover {
      box-shadow: none;
    }

    .product-card__title {
      font-weight: 600;
      margin-bottom: 24px;
    }

    .product-card__description {
      font-size: 14px;
      margin-bottom: 24px;
    }

    .product-card__table {
      display: table;
      margin-bottom: 24px;
    }

    .product-card__props {
      display: flex;
      flex-direction: column;
      grid-gap: 8px 0;
    }

    .product-card__props-desc {
      font-size: 12px;
      font-weight: 400;
    }

    .product-card__props:not(:last-child) {
      margin-bottom: 24px;
    }

    @media (min-width: @desktop-small) {
      padding: 0;

      .product-card__title {
        font-weight: 400;
        font-size: 24px;
      }

      .product-card__description {
        display: block;
      }

      .product-card__props-wrapper {
        display: flex;
        grid-gap: 0 40px;
      }

      .product-card__props {
        flex: 0 1 50%;

        &:not(:last-child) {
          margin-bottom: 0;
        }
      } 
    }
  }
}
